{% include "navbar.html" %}

		{{string}}
		{% if not user.is_anonymous %}
			<h4>Welcome, {{request.user}}</h4>
			<h2><a href="/onlinejudge/challenges/{{curr_contest}}">Challenges</a></h2>
			<h2><a href="/onlinejudge/practice/">Practice</a></h2>
			<a href='/onlinejudge/logout/'>Logout</a>
		{% else %}
			<div>
				<form method="POST" action='/onlinejudge/login/'>
					{% csrf_token %}
					<div>
						UserName:
						<input type="text" name='user' id="userid">
					</div>
					<div>
						Password:
						<input type="password" name='pass' id="Password1">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>	
			</div>
		{% endif %}
	</body>
</html>
