
    {% include "navbar.html" %}

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">PROJECTS
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="active">Projects</li>
                </ol>
            </div>

        </div>
		{% for p in projects %}
        <div class="row">

            <div class="col-md-3">
                <a href="/projects/projectinfo/{{p.id}}">
                    <img class="img-responsive" src="{{ p.main_imag.image.url }}">
                </a>
            </div>
			
            <div class="col-md-9">
                <h3>{{p.title}}</h3>
               
                <p>{{p.brief}}</p>
                <a class="btn btn-primary" href="/projects/projectinfo/{{p.id}}">View Project <i class="fa fa-angle-right"></i></a>
            </div>

        </div>

        <hr>
		{% endfor %}
		
		
	    </div>
    	
       <div class="row text-center">

            <div class="col-lg-12">
       
            <div class="pagination">
    <span class="step-links">
        {% if projects.has_previous %}
           <a href="?page={{ projects.previous_page_number }}">Previous </a> </li>
        {% endif %}
		
        <span class="current">
           Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
        </span>
		
        {% if projects.has_next %}
            <a href="?page={{ projects.next_page_number }}"> Next</a>
        {% endif %}
       
    </span>
</div>

 </div>

        </div>
             <!--   
             
              
            
             <ul class="pagination">
                    <li><a href="?page={{ 1 }}">&laquo;</a>
                    </li>
                    {% if projects.has_previous %}
                    <li>
            			<a href="?page={{ projects.previous_page_number }}">{{ projects.number}}</a>
            		</li>
        			{% endif %}
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>  
            -->


    
   {% include "copyrightcontainer.html" %}
   

</body>

</html>
