{% include "navbar.html" %}

		
		
		
		<link rel="stylesheet" href="{{STATIC_URL}}css/jquery.multilevelpushmenu.css">
<style>
#pushobj {
	position: absolute;
	top: 55px;
	left:18%;width:75%;
	color: #0070c0;
	background: #FFF;
	font-family: 'Open Sans Condensed', sans-serif;
	z-index: 1;
	float:left;
}
</style> 	
<script src="{{STATIC_URL}}js/jquery.multilevelpushmenu.min.js"></script>
<script>
$(document).ready(function(){
	// HTML markup implementation, overlap mode
	$( '#menu' ).multilevelpushmenu({
		containersToPush: [$( '#pushobj' )]
	});
});





</script>

	

	<div id="pushobj">
		
		<h1>{{ code.compilemessage }}</h1>
		<h3>Compile Message</h3>

		<pre>
			{% for i in compile %}
			{{ i }}
			{% endfor %}
		</pre>
		<hr>
		<h3>{{ code.runtimemessage }}</h3>
		<!--<pre>
			{% for i in runtime %}
			{{ i }}
			{% endfor %}
		</pre>!-->
		<!--<p id="p1">The getAllResponseHeaders() function returns the header information of a resource, like length, server-type, content-type, last-modified, etc.</p>
		<button onclick='clearInterval(refint)'>Hello</button>-->
		<hr>

<pre>
	<code>
		{% for i in fil_e %}
		{{ i }}
		{% endfor %}
	</code>
</pre>
		<a href="/onlinejudge">Home</a>
	
    </div>
        <div id="menu">
            <nav>
               
            	<h2><i class="fa fa-reorder"></i>{{cont.name}}</h2>
                               
         		{% block content %}
				<ul>
					{% for p in problems %}
						<li> <a href="/onlinejudge/contest/{{cont.id}}/{{p.id}}/">  {{p.name}}  </a></li>
					{% endfor %}					
									
				</ul>
				{% endblock %}                     
                          
            </nav>
        </div>
	
	
	
	

		
		
		
		
	</body>
</html>
